n8n/workflows/Create Malware Event.json
{
  "name": "Create Malware Event",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "ee54811a-a8fc-411b-bdb5-1610c1a13ba8",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0638a3af-fcc0-402a-99d1-0b592406d132",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}/api/v1/malwareDetection/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-version",
              "value": "={{ $json.apiVersion }}"
            },
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"detectionTimeUtc\": \"{{ $('Malware Incident Details').item.json.currentTimeUTC }}\",\n  \"machine\": {\n    \"fqdn\": \"{{ $('Malware Incident Details').item.json.fqdn }}\",\n    \"ipv4\": \"{{ $('Malware Incident Details').item.json.ipv4 }}\"\n  },\n  \"details\": \"{{ $('Malware Incident Details').item.json.details }}\",\n  \"engine\": \"{{ $('Malware Incident Details').item.json.engine }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "60263787-5e42-4fa3-b8c5-079ce75524e2",
      "name": "Create Malware Event"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d67f38d6-cdc2-4c08-818e-b0ff3f7f2f8e",
              "name": "currentTimeUTC",
              "value": "={{ $now.format(\"yyyy-MM-dd'T'HH:mm:ss'Z'\") }}",
              "type": "string"
            },
            {
              "id": "520545e5-a102-42cd-98e1-9456aafaacb2",
              "name": "fqdn",
              "value": "Hostname",
              "type": "string"
            },
            {
              "id": "c92e26d8-d013-4223-b872-80e2a9f5df5d",
              "name": "ipv4",
              "value": "IP Address",
              "type": "string"
            },
            {
              "id": "8b014261-5a5c-434c-b300-b1b8b46b212d",
              "name": "details",
              "value": "What has been found. Triggered by n8n Workflow.",
              "type": "string"
            },
            {
              "id": "4f5d6b6c-f2ab-4f5a-bbe1-40b8dcc4a458",
              "name": "engine",
              "value": "Detection Engine",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "4261a7cc-8666-4776-9c94-aa9356a67c16",
      "name": "Malware Incident Details"
    },
    {
      "parameters": {},
      "type": "CUSTOM.oauthToken",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "7144f4ab-7d9e-4551-91da-b9eb0eb69e99",
      "name": "Get Bearer Token",
      "credentials": {
        "VeeamDataPlatform": {
          "id": "iZ15X6hk8eWfclcn",
          "name": "Veeam Backup Server 01"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Malware Incident Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Malware Event": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Malware Incident Details": {
      "main": [
        [
          {
            "node": "Get Bearer Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bearer Token": {
      "main": [
        [
          {
            "node": "Create Malware Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "000c2026-fd04-4b79-b10c-27f35cf787a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14b2d430486c535ba25a54c9abcb9f7f90d4bb3c79e66b46f73b9ada957337e5"
  },
  "id": "uJm4B0fXU2NT0bgL",
  "tags": []
}