n8n/workflows/Get Security & Compliance Analyzer Last Run.json
{
  "name": "Get Security & Compliance Analyzer Last Run",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3f7808f1-0a4b-4888-b8ca-f3f7c716505c",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}/api/v1/securityAnalyzer/lastRun ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-version",
              "value": "={{ $json.apiVersion }}"
            },
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "32a92f8a-fb25-4c60-b5bf-a092d4f18c9e",
      "name": "Get Security & Compliance Analyzer Last Run"
    },
    {
      "parameters": {},
      "type": "CUSTOM.oauthToken",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "107e50aa-8bf6-46ce-a4e8-f40202d72e6b",
      "name": "Get Bearer Token",
      "credentials": {
        "VeeamDataPlatform": {
          "id": "iZ15X6hk8eWfclcn",
          "name": "Veeam Backup Server 01"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Bearer Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Security & Compliance Analyzer Last Run": {
      "main": [
        []
      ]
    },
    "Get Bearer Token": {
      "main": [
        [
          {
            "node": "Get Security & Compliance Analyzer Last Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1dec8c69-9a36-4848-9540-ad8fa00d995f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14b2d430486c535ba25a54c9abcb9f7f90d4bb3c79e66b46f73b9ada957337e5"
  },
  "id": "qHS5i9EUt8XgAB2c",
  "tags": []
}