n8n/workflows/Get All Authorization Events.json
{
  "name": "Get All Authorization Events",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "8541dcc2-d35e-43ed-9fbf-3707849df14e",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "cdb89913-1341-4b62-a816-6b6e23480c13",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}\n/api/v1/authorization/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "orderColumn",
              "value": "CreationTime"
            },
            {
              "name": "orderAsc",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-version",
              "value": "={{ $json.apiVersion }}"
            },
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "da058e8e-03d7-4284-8996-a89d1bc6f597",
      "name": "Get All Authorization Events"
    },
    {
      "parameters": {},
      "type": "CUSTOM.oauthToken",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "d8a0bdea-6d7a-40ac-a0be-f3556ec55f3e",
      "name": "Get Bearer Token",
      "credentials": {
        "VeeamDataPlatform": {
          "id": "iZ15X6hk8eWfclcn",
          "name": "Veeam Backup Server 01"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Bearer Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Authorization Events": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bearer Token": {
      "main": [
        [
          {
            "node": "Get All Authorization Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6d1fb95f-095a-4fab-949a-cf3ca6c82fca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14b2d430486c535ba25a54c9abcb9f7f90d4bb3c79e66b46f73b9ada957337e5"
  },
  "id": "5vIFzeBBE7ZlD9ZS",
  "tags": []
}