n8n/workflows/Start Security & Compliance Analyzer.json
{
  "name": "Start Security & Compliance Analyzer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -16
      ],
      "id": "3ea4ba08-92f1-4e2c-a056-0ef1ec61e6a9",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}/api/v1/securityAnalyzer/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-version",
              "value": "={{ $json.apiVersion }}"
            },
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -16
      ],
      "id": "a2f4c43e-bde7-459b-abc2-0c1eb8312936",
      "name": "Start Security & Compliance Analyzer"
    },
    {
      "parameters": {},
      "type": "CUSTOM.oauthToken",
      "typeVersion": 1,
      "position": [
        224,
        -16
      ],
      "id": "4ec334d9-982f-4f70-8844-a5062ef57d42",
      "name": "Get Bearer Token",
      "credentials": {
        "VeeamDataPlatform": {
          "id": "iZ15X6hk8eWfclcn",
          "name": "Veeam Backup Server 01"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Bearer Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Security & Compliance Analyzer": {
      "main": [
        []
      ]
    },
    "Get Bearer Token": {
      "main": [
        [
          {
            "node": "Start Security & Compliance Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "822383c6-8205-4ce6-9f53-293438118255",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14b2d430486c535ba25a54c9abcb9f7f90d4bb3c79e66b46f73b9ada957337e5"
  },
  "id": "FOZv1hNsYi8wngdO",
  "tags": []
}