BackupPaw/Backup Job Management Agent.json
{
  "name": "Backup Job Management Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Backup Job Management Agent\nSub-agent called by The Brain for all backup job operations.\nUses Claude Haiku to minimize token costs.\n\n**Assign your Anthropic credential to the Claude Haiku node.**\nAfter importing all sub-workflows, replace the placeholder IDs below.\n\nThis agent handles:\n- Listing jobs and job states\n- Starting jobs\n- Quick backup\n- Creating new backup jobs\n- Adding VMs to existing jobs",
        "height": 220,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-480, -300],
      "id": "bjma-0001-0000-0000-000000000000",
      "name": "Setup Note"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "query" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-480, 0],
      "id": "bjma-0001-0000-0000-000000000001",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [-480, 260],
      "id": "bjma-0001-0000-0000-000000000002",
      "name": "Claude Haiku",
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a Veeam Backup & Replication job management assistant.\n\n## Tools available\n- **VBR Get All Jobs** — list all backup jobs (use to find a job by name and get its jobId)\n- **VBR Get All Job States** — get current status of all jobs (running, finished, failed)\n- **VBR Get All Repositories** — list all repositories with their IDs and free space\n- **VBR Start Job** — start an existing job by jobId\n- **VBR Create Quick Backup** — run an immediate ad-hoc backup for a single VM using its objectId\n- **VBR Create Backup Job** — create a new scheduled backup job\n- **VBR Add VM to Job** — add a VM to an existing backup job\n\n## Important: VM technical details\nThe query you receive from The Brain already contains the VM's technical details (vmName, objectId, hostName/vCenter FQDN) from its inventory lookup. Do NOT ask the user for these values — extract them directly from the query.\n\n## Rules\n1. **Always confirm with the user before taking any action** (start, create, add). Summarize what you are about to do and ask for explicit approval.\n2. **Before adding a VM to a job**, use 'VBR Get All Jobs' to look up the jobId by name.\n3. **Before creating a job**, only ask the user for: job name (if not stated), repository (use 'VBR Get All Repositories' to list options), retention points, and schedule time. Never ask for objectId, hostName or vCenter FQDN — these come from the query.\n4. **If a VM is not in any job**, suggest options: add to an existing job, or create a new job. Do not proceed without user choice.\n5. **If 'VBR Add VM to Job' returns success=false**, report the reason to the user and suggest creating a new job instead.\n6. Never perform destructive or write operations without explicit user confirmation in the same conversation turn."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-240, 0],
      "id": "bjma-0001-0000-0000-000000000003",
      "name": "🗂️ Job Management Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [-480, 420],
      "id": "bjma-0001-0000-0000-000000000004",
      "name": "Think"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VBR_GET_ALL_JOBS_WORKFLOW_PLACEHOLDER",
          "mode": "list",
          "cachedResultName": "VBR Get All Jobs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "hostName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hostName', `Optional job name filter`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "hostName", "displayName": "hostName", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [-240, 260],
      "id": "bjma-0001-0000-0000-000000000005",
      "name": "Call 'VBR Get All Jobs'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VBR_GET_JOB_STATES_WORKFLOW_PLACEHOLDER",
          "mode": "list",
          "cachedResultName": "VBR Get All Job States"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "hostName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hostName', `Not used`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "hostName", "displayName": "hostName", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [0, 260],
      "id": "bjma-0001-0000-0000-000000000006",
      "name": "Call 'VBR Get All Job States'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VBR_GET_ALL_REPOS_WORKFLOW_PLACEHOLDER",
          "mode": "list",
          "cachedResultName": "VBR Get All Repositories"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "hostName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hostName', `Not used`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "hostName", "displayName": "hostName", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [240, 260],
      "id": "bjma-0001-0000-0000-000000000007",
      "name": "Call 'VBR Get All Repositories'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VBR_START_JOB_WORKFLOW_PLACEHOLDER",
          "mode": "list",
          "cachedResultName": "VBR Start Job"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jobId', `ID of the job to start`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "jobId", "displayName": "jobId", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [480, 260],
      "id": "bjma-0001-0000-0000-000000000008",
      "name": "Call 'VBR Start Job'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VBR_QUICK_BACKUP_WORKFLOW_PLACEHOLDER",
          "mode": "list",
          "cachedResultName": "VBR Create Quick Backup"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "objectId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('objectId', `VM objectId for quick backup`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "objectId", "displayName": "objectId", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [720, 260],
      "id": "bjma-0001-0000-0000-000000000009",
      "name": "Call 'VBR Create Quick Backup'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VBR_CREATE_JOB_WORKFLOW_PLACEHOLDER",
          "mode": "list",
          "cachedResultName": "VBR Create Backup Job"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jobName', `Name for the new backup job`, 'string') }}",
            "vmName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vmName', `VM display name`, 'string') }}",
            "objectId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('objectId', `VM objectId from VBR inventory`, 'string') }}",
            "vcName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vcName', `vCenter FQDN`, 'string') }}",
            "repositoryId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('repositoryId', `Repository ID from VBR Get All Repositories`, 'string') }}",
            "retentionPoints": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('retentionPoints', `Number of restore points to retain`, 'string') }}",
            "scheduleTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('scheduleTime', `Daily schedule time in HH:MM format, e.g. 22:00`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "jobName", "displayName": "jobName", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false },
            { "id": "vmName", "displayName": "vmName", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false },
            { "id": "objectId", "displayName": "objectId", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false },
            { "id": "vcName", "displayName": "vcName", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false },
            { "id": "repositoryId", "displayName": "repositoryId", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false },
            { "id": "retentionPoints", "displayName": "retentionPoints", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false },
            { "id": "scheduleTime", "displayName": "scheduleTime", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [960, 260],
      "id": "bjma-0001-0000-0000-000000000010",
      "name": "Call 'VBR Create Backup Job'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VBR_ADD_VM_JOB_WORKFLOW_PLACEHOLDER",
          "mode": "list",
          "cachedResultName": "VBR Add VM to Job"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jobId', `ID of the target backup job`, 'string') }}",
            "vmName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vmName', `VM display name`, 'string') }}",
            "objectId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('objectId', `VM objectId from VBR inventory`, 'string') }}",
            "vcName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vcName', `vCenter FQDN`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "jobId", "displayName": "jobId", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false },
            { "id": "vmName", "displayName": "vmName", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false },
            { "id": "objectId", "displayName": "objectId", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false },
            { "id": "vcName", "displayName": "vcName", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [1200, 260],
      "id": "bjma-0001-0000-0000-000000000011",
      "name": "Call 'VBR Add VM to Job'"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "🗂️ Job Management Agent", "type": "main", "index": 0 }]] },
    "Claude Haiku": { "ai_languageModel": [[{ "node": "🗂️ Job Management Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Think": { "ai_tool": [[{ "node": "🗂️ Job Management Agent", "type": "ai_tool", "index": 0 }]] },
    "Call 'VBR Get All Jobs'": { "ai_tool": [[{ "node": "🗂️ Job Management Agent", "type": "ai_tool", "index": 0 }]] },
    "Call 'VBR Get All Job States'": { "ai_tool": [[{ "node": "🗂️ Job Management Agent", "type": "ai_tool", "index": 0 }]] },
    "Call 'VBR Get All Repositories'": { "ai_tool": [[{ "node": "🗂️ Job Management Agent", "type": "ai_tool", "index": 0 }]] },
    "Call 'VBR Start Job'": { "ai_tool": [[{ "node": "🗂️ Job Management Agent", "type": "ai_tool", "index": 0 }]] },
    "Call 'VBR Create Quick Backup'": { "ai_tool": [[{ "node": "🗂️ Job Management Agent", "type": "ai_tool", "index": 0 }]] },
    "Call 'VBR Create Backup Job'": { "ai_tool": [[{ "node": "🗂️ Job Management Agent", "type": "ai_tool", "index": 0 }]] },
    "Call 'VBR Add VM to Job'": { "ai_tool": [[{ "node": "🗂️ Job Management Agent", "type": "ai_tool", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "availableInMCP": false },
  "meta": { "templateCredsSetupCompleted": false },
  "id": "JOB_MANAGEMENT_AGENT_WORKFLOW_PLACEHOLDER",
  "tags": []
}
