BackupPaw/BackupPaw Research Agent.json
{
  "name": "BackupPaw Research Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## BackupPaw Research Agent\nSeparate sub-agent called by The Brain for external queries.\nUses a cheaper LLM (Haiku) to minimize token costs.\n\n**Assign your Anthropic credential to the Claude Haiku node.**",
        "height": 160,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-480, -220],
      "id": "ra000001-0000-0000-0000-000000000000",
      "name": "Setup Note"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-480, 0],
      "id": "ra000001-0000-0000-0000-000000000001",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [-480, 240],
      "id": "ra000001-0000-0000-0000-000000000002",
      "name": "Claude Haiku",
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a research assistant for BackupPaw, a Veeam backup management AI agent.\n\n## Tools\n- 'NVD CVE Lookup' – search for CVEs related to Veeam. Use keyword 'Veeam Backup Replication'. Optional: startDate (ISO format) to limit results.\n- 'Veeam Release Check' – retrieve the latest Veeam Backup & Replication release information.\n\n## Rules\n- Return only factual, relevant information from the tools.\n- Summarize CVE results: CVE ID, severity (CVSS score), brief description.\n- For version checks: state the latest version and compare to the installed version if provided in the query.\n- Keep responses short and structured."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-240, 0],
      "id": "ra000001-0000-0000-0000-000000000003",
      "name": "🔍 Research Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [-480, 400],
      "id": "ra000001-0000-0000-0000-000000000004",
      "name": "Think"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NVD_WORKFLOW_PLACEHOLDER",
          "mode": "list",
          "cachedResultUrl": "/workflow/NVD_WORKFLOW_PLACEHOLDER",
          "cachedResultName": "NVD CVE Lookup"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "keyword": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('keyword', `Search keyword, e.g. Veeam Backup Replication`, 'string') }}",
            "startDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('startDate', `Optional start date in ISO format, e.g. 2024-01-01T00:00:00.000`, 'string') }}",
            "endDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('endDate', `Optional end date in ISO format`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "startDate",
              "displayName": "startDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            },
            {
              "id": "endDate",
              "displayName": "endDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [-240, 240],
      "id": "ra000001-0000-0000-0000-000000000005",
      "name": "Call 'NVD CVE Lookup'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VEEAM_RELEASE_WORKFLOW_PLACEHOLDER",
          "mode": "list",
          "cachedResultUrl": "/workflow/VEEAM_RELEASE_WORKFLOW_PLACEHOLDER",
          "cachedResultName": "Veeam Release Check"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [0, 240],
      "id": "ra000001-0000-0000-0000-000000000006",
      "name": "Call 'Veeam Release Check'"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "🔍 Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Haiku": {
      "ai_languageModel": [
        [
          {
            "node": "🔍 Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "🔍 Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NVD CVE Lookup'": {
      "ai_tool": [
        [
          {
            "node": "🔍 Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Veeam Release Check'": {
      "ai_tool": [
        [
          {
            "node": "🔍 Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "RESEARCH_AGENT_WORKFLOW_PLACEHOLDER",
  "tags": []
}
