BackupPaw/Backup Job Management Agent.json
{
  "name": "Backup Job Management Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Backup Job Management Agent\nSub-agent called by The Brain for all backup job operations.\n\n\n**Assign your Chat Model to to the AI Agent node.**\nAfter importing all sub-workflows, replace the placeholder IDs below.\n\nThis agent handles:\n- Listing jobs and job states\n- Starting jobs\n- Quick backup\n- Creating new backup jobs\n- Adding VMs to existing jobs",
        "height": 220,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8bce9ddf-ca22-45ed-ba48-ee5f1b3cbc11",
      "name": "Setup Note"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "id": "2011a7b8-f308-48a6-a3fc-dab0b9ca4705",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        0,
        720
      ],
      "id": "7183f8ee-18ed-41f9-a2cb-e7935b49f681",
      "name": "Think"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "caw1bCI5GNzU56Ky",
          "mode": "list",
          "cachedResultUrl": "/workflow/caw1bCI5GNzU56Ky",
          "cachedResultName": "VBR Get All Jobs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "hostName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hostName', `Optional job name filter`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "hostName",
              "displayName": "hostName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        240,
        560
      ],
      "id": "623e222e-5285-43ea-adbb-2763c5caa19e",
      "name": "Call 'VBR Get All Jobs'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CStKLpCVf4Erb8DI",
          "mode": "list",
          "cachedResultUrl": "/workflow/CStKLpCVf4Erb8DI",
          "cachedResultName": "VBR Get All Job States"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "hostName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hostName', `Not used`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "hostName",
              "displayName": "hostName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        480,
        560
      ],
      "id": "3067b2b4-0833-45ac-925a-5516e786e5e7",
      "name": "Call 'VBR Get All Job States'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CHkTDLam0tl3dpxm",
          "mode": "list",
          "cachedResultUrl": "/workflow/CHkTDLam0tl3dpxm",
          "cachedResultName": "VBR Get All Repositories"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "hostName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hostName', `Not used`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "hostName",
              "displayName": "hostName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        720,
        560
      ],
      "id": "4bd4bf82-c385-4a97-99db-a2e2169a3536",
      "name": "Call 'VBR Get All Repositories'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "V3SBdkG3L2wsRnpb",
          "mode": "list",
          "cachedResultUrl": "/workflow/V3SBdkG3L2wsRnpb",
          "cachedResultName": "VBR Start Job"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jobId', `ID of the job to start`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "jobId",
              "displayName": "jobId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        960,
        560
      ],
      "id": "2bbb902b-0e48-4046-872c-0e7ba730feca",
      "name": "Call 'VBR Start Job'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dNYWduyj3EpxfEhj",
          "mode": "list",
          "cachedResultUrl": "/workflow/dNYWduyj3EpxfEhj",
          "cachedResultName": "VBR Create Quick Backup"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "objectId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('objectId', `VM objectId for quick backup`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "objectId",
              "displayName": "objectId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1200,
        560
      ],
      "id": "c912b4b6-fbfb-4713-b166-99340adc0042",
      "name": "Call 'VBR Create Quick Backup'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qdAixpEG6zz3e6Qi",
          "mode": "list",
          "cachedResultUrl": "/workflow/qdAixpEG6zz3e6Qi",
          "cachedResultName": "VBR Add VM to Job"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jobId', `ID of the target backup job`, 'string') }}",
            "vmName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vmName', `VM display name`, 'string') }}",
            "objectId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('objectId', `VM objectId from VBR inventory`, 'string') }}",
            "hostName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hostName', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "jobId",
              "displayName": "jobId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "vmName",
              "displayName": "vmName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "objectId",
              "displayName": "objectId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hostName",
              "displayName": "hostName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1680,
        560
      ],
      "id": "ddf68288-f111-4a5f-ad70-6b1fb27c6964",
      "name": "Call 'VBR Add VM to Job'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zK6934DQ6YhClHkU",
          "mode": "list",
          "cachedResultUrl": "/workflow/zK6934DQ6YhClHkU",
          "cachedResultName": "VBR Create Backup Job"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jobName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jobName', ``, 'string') }}",
            "jobDescription": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jobDescription', ``, 'string') }}",
            "vmName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vmName', ``, 'string') }}",
            "objectId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('objectId', ``, 'string') }}",
            "hostName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hostName', ``, 'string') }}",
            "repositoryId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('repositoryId', ``, 'string') }}",
            "retentionPoints": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('retentionPoints', ``, 'string') }}",
            "scheduleTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('scheduleTime', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "jobName",
              "displayName": "jobName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "jobDescription",
              "displayName": "jobDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "vmName",
              "displayName": "vmName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "objectId",
              "displayName": "objectId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hostName",
              "displayName": "hostName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "repositoryId",
              "displayName": "repositoryId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "retentionPoints",
              "displayName": "retentionPoints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "scheduleTime",
              "displayName": "scheduleTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1440,
        560
      ],
      "id": "83d94a12-2f76-43a6-b4cb-c93e6866213d",
      "name": "Call 'VBR Create Backup Job'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a Veeam Backup & Replication job management assistant.\n\n## Tools available\n- **VBR Get All Jobs** — list all backup jobs (use to find a job by name and get its jobId)\n- **VBR Get All Job States** — get current status of all jobs (running, finished, failed)\n- **VBR Get All Repositories** — list all repositories with their IDs and free space\n- **VBR Start Job** — start an existing job by jobId\n- **VBR Create Quick Backup** — run an immediate ad-hoc backup for a single VM using its objectId\n- **VBR Create Backup Job** — create a new scheduled backup job\n- **VBR Add VM to Job** — add a VM to an existing backup job\n\n## Important: VM technical details\nThe query you receive from The Brain already contains the VM's technical details (vmName, objectId, hostName/vCenter FQDN) from its inventory lookup. Do NOT ask the user for these values — extract them directly from the query.\n\n## Rules\n1. **Always confirm with the user before taking any action** (start, create, add). Summarize what you are about to do and ask for explicit approval.\n2. **Before adding a VM to a job**, use 'VBR Get All Jobs' to look up the jobId by name.\n3. **Before creating a job**, only ask the user for: job name (if not stated), repository (use 'VBR Get All Repositories' to list options), retention points, and schedule time. Never ask for objectId, hostName or vCenter FQDN — these come from the query.\n4. **If a VM is not in any job**, suggest options: add to an existing job, or create a new job. Do not proceed without user choice.\n5. **If 'VBR Add VM to Job' returns success=false**, report the reason to the user and suggest creating a new job instead.\n6. Never perform destructive or write operations without explicit user confirmation in the same conversation turn.\n7. Never display the vCenter FDN, objectId,  or other internal identifiers in the response - use only the VM or host name."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        304
      ],
      "id": "a2d5ec9c-d081-4315-8c1b-94c29c7776c3",
      "name": "Job Management Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Job Management Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Job Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VBR Get All Jobs'": {
      "ai_tool": [
        [
          {
            "node": "Job Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VBR Get All Job States'": {
      "ai_tool": [
        [
          {
            "node": "Job Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VBR Get All Repositories'": {
      "ai_tool": [
        [
          {
            "node": "Job Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VBR Start Job'": {
      "ai_tool": [
        [
          {
            "node": "Job Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VBR Create Quick Backup'": {
      "ai_tool": [
        [
          {
            "node": "Job Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VBR Add VM to Job'": {
      "ai_tool": [
        [
          {
            "node": "Job Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VBR Create Backup Job'": {
      "ai_tool": [
        [
          {
            "node": "Job Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "65b1d486-9b7a-42a6-90c1-948f1a213686",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14b2d430486c535ba25a54c9abcb9f7f90d4bb3c79e66b46f73b9ada957337e5"
  },
  "id": "ESEyjBmgFoSMGM8f",
  "tags": []
}