BackupPaw/Entra ID Backup Search.json
{
  "name": "Entra ID Backup Search",
  "nodes": [
    {
      "parameters": {
        "content": "## Entra ID Backup Search\nSearches for a User, Group, or Application in Veeam Entra ID backups.\n\n**Input:** searchType (User/Group/Application), displayName, checkProd (true/false), compareProd (true/false)\n\nAdapt the **Get Bearer Token** node to match your existing VBR sub-workflows.",
        "height": 180,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-720, -260],
      "id": "eid-0001-0000-0000-000000000000",
      "name": "Setup Note"
    },
    {
      "parameters": {
        "inputSource": "workflowInputData",
        "workflowInputs": {
          "values": [
            { "name": "searchType", "type": "string" },
            { "name": "displayName", "type": "string" },
            { "name": "checkProd", "type": "string" },
            { "name": "compareProd", "type": "string" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-720, 0],
      "id": "eid-0001-0000-0000-000000000001",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-VBR-SERVER:9419/api/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type", "value": "password" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-version", "value": "1.3-rev1" },
            { "name": "Content-Type", "value": "application/x-www-form-urlencoded" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-480, 0],
      "id": "eid-0001-0000-0000-000000000002",
      "name": "Get Bearer Token",
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_VBR_CREDENTIAL_ID",
          "name": "VBR Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://YOUR-VBR-SERVER:9419/api/v1/restorePoints",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" },
            { "name": "x-api-version", "value": "1.3-rev1" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "platformNameFilter", "value": "EntraID" },
            { "name": "limit", "value": "1" },
            { "name": "orderColumn", "value": "CreationTime" },
            { "name": "orderAsc", "value": "false" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 0],
      "id": "eid-0001-0000-0000-000000000003",
      "name": "Get Entra ID Restore Points"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-VBR-SERVER:9419/api/v1/restore/entraId/tenant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "1.3-rev1" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ backupId: $('Get Entra ID Restore Points').item.json.data[0].backupId }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "eid-0001-0000-0000-000000000004",
      "name": "Start Restore Session"
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [240, 0],
      "id": "eid-0001-0000-0000-000000000005",
      "name": "Wait 15s"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-VBR-SERVER:9419/api/v1/backupBrowser/entraIdTenant/{{ $('Get Entra ID Restore Points').item.json.data[0].backupId }}/browse",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "1.3-rev1" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: $('Execute Workflow Trigger').item.json.searchType, filter: { displayName: $('Execute Workflow Trigger').item.json.displayName } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 0],
      "id": "eid-0001-0000-0000-000000000006",
      "name": "Search Item"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "eid-cond-001",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 0],
      "id": "eid-0001-0000-0000-000000000007",
      "name": "IF: Item Found?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-VBR-SERVER:9419/api/v1/backupBrowser/entraIdTenant/{{ $('Get Entra ID Restore Points').item.json.data[0].backupId }}/browse/{{ $('Search Item').item.json.data[0].id }}/restorePoints",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "1.3-rev1" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"limit\": 10, \"sorting\": {\"property\": \"creationTime\", \"direction\": \"descending\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, -120],
      "id": "eid-0001-0000-0000-000000000008",
      "name": "Get Item Restore Points"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-VBR-SERVER:9419/api/v1/backupBrowser/entraIdTenant/{{ $('Start Restore Session').item.json.sessionId }}/checkProductionItems",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "1.3-rev1" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: [{ itemId: $('Search Item').item.json.data[0].id, restorePointId: $('Get Entra ID Restore Points').item.json.data[0].id }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, -120],
      "id": "eid-0001-0000-0000-000000000009",
      "name": "Check Production"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "eid-cond-002",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.compareProd }}",
              "rightValue": "true",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1440, -120],
      "id": "eid-0001-0000-0000-000000000010",
      "name": "IF: Compare Prod?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-VBR-SERVER:9419/api/v1/backupBrowser/entraIdTenant/{{ $('Start Restore Session').item.json.sessionId }}/compare",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "1.3-rev1" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ itemId: $('Search Item').item.json.data[0].id, itemType: $('Execute Workflow Trigger').item.json.searchType, oldRestorePointId: $('Get Entra ID Restore Points').item.json.data[0].id, showUnchangedAttributes: false, reloadCache: true }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, -240],
      "id": "eid-0001-0000-0000-000000000011",
      "name": "Compare with Production"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-VBR-SERVER:9419/api/v1/restore/entraId/tenant/{{ $('Start Restore Session').item.json.sessionId }}/stop",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "1.3-rev1" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ backupId: $('Get Entra ID Restore Points').item.json.data[0].backupId }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, -120],
      "id": "eid-0001-0000-0000-000000000012",
      "name": "Stop Session"
    },
    {
      "parameters": {
        "jsCode": "const trigger   = $('Execute Workflow Trigger').item.json;\nconst rp        = $('Get Entra ID Restore Points').item.json;\nconst searchRes = $('Search Item').item.json;\nconst itemRPs   = $('Get Item Restore Points').item.json;\nconst checkProd = $('Check Production').item.json;\n\nconst result = {\n  searchType:          trigger.searchType,\n  displayName:         trigger.displayName,\n  foundInBackup:       true,\n  latestRestorePoint:  rp.data[0]?.creationTime ?? null,\n  itemRestorePoints:   itemRPs.data?.length ?? 0\n};\n\nif (trigger.checkProd === 'true' || trigger.checkProd === true) {\n  result.existsInProduction = (checkProd.items?.length ?? 0) > 0;\n}\n\nif (trigger.compareProd === 'true' || trigger.compareProd === true) {\n  try {\n    const compareRes = $('Compare with Production').item.json;\n    result.differences = compareRes.properties ?? [];\n  } catch (e) {\n    result.differences = [];\n  }\n}\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, -120],
      "id": "eid-0001-0000-0000-000000000013",
      "name": "Format Found Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-VBR-SERVER:9419/api/v1/restore/entraId/tenant/{{ $('Start Restore Session').item.json.sessionId }}/stop",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "1.3-rev1" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ backupId: $('Get Entra ID Restore Points').item.json.data[0].backupId }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 120],
      "id": "eid-0001-0000-0000-000000000014",
      "name": "Stop Session (Not Found)"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "eid-set-001",
              "name": "foundInBackup",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "eid-set-002",
              "name": "searchType",
              "value": "={{ $('Execute Workflow Trigger').item.json.searchType }}",
              "type": "string"
            },
            {
              "id": "eid-set-003",
              "name": "displayName",
              "value": "={{ $('Execute Workflow Trigger').item.json.displayName }}",
              "type": "string"
            },
            {
              "id": "eid-set-004",
              "name": "message",
              "value": "={{ $('Execute Workflow Trigger').item.json.searchType }} '{{ $('Execute Workflow Trigger').item.json.displayName }}' was not found in the Entra ID backup.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 120],
      "id": "eid-0001-0000-0000-000000000015",
      "name": "Not Found Output"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Get Bearer Token", "type": "main", "index": 0 }]]
    },
    "Get Bearer Token": {
      "main": [[{ "node": "Get Entra ID Restore Points", "type": "main", "index": 0 }]]
    },
    "Get Entra ID Restore Points": {
      "main": [[{ "node": "Start Restore Session", "type": "main", "index": 0 }]]
    },
    "Start Restore Session": {
      "main": [[{ "node": "Wait 15s", "type": "main", "index": 0 }]]
    },
    "Wait 15s": {
      "main": [[{ "node": "Search Item", "type": "main", "index": 0 }]]
    },
    "Search Item": {
      "main": [[{ "node": "IF: Item Found?", "type": "main", "index": 0 }]]
    },
    "IF: Item Found?": {
      "main": [
        [{ "node": "Get Item Restore Points", "type": "main", "index": 0 }],
        [{ "node": "Stop Session (Not Found)", "type": "main", "index": 0 }]
      ]
    },
    "Get Item Restore Points": {
      "main": [[{ "node": "Check Production", "type": "main", "index": 0 }]]
    },
    "Check Production": {
      "main": [[{ "node": "IF: Compare Prod?", "type": "main", "index": 0 }]]
    },
    "IF: Compare Prod?": {
      "main": [
        [{ "node": "Compare with Production", "type": "main", "index": 0 }],
        [{ "node": "Stop Session", "type": "main", "index": 0 }]
      ]
    },
    "Compare with Production": {
      "main": [[{ "node": "Stop Session", "type": "main", "index": 0 }]]
    },
    "Stop Session": {
      "main": [[{ "node": "Format Found Output", "type": "main", "index": 0 }]]
    },
    "Stop Session (Not Found)": {
      "main": [[{ "node": "Not Found Output", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "ENTRAID_SEARCH_WORKFLOW_PLACEHOLDER",
  "tags": []
}
