BackupPaw/Entra ID Agent.json
{
  "name": "Entra ID Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Entra ID Agent\nSub-agent called by The Brain for Entra ID backup queries.\nUses Claude Haiku to minimize token costs.\n\n**Assign your Anthropic credential to the Claude Haiku node.**\nAfter importing sub-workflows, replace the placeholder IDs.",
        "height": 160,
        "width": 460,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-480, -220],
      "id": "eia-0001-0000-0000-000000000000",
      "name": "Setup Note"
    },
    {
      "parameters": {
        "inputSource": "workflowInputData",
        "workflowInputs": {
          "values": [
            { "name": "query", "type": "string" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-480, 0],
      "id": "eia-0001-0000-0000-000000000001",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [-480, 240],
      "id": "eia-0001-0000-0000-000000000002",
      "name": "Claude Haiku",
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are an Entra ID backup specialist for BackupPaw.\n\n## Tools\n- 'Entra ID Check Backup' – checks if a User, Group, or Application exists in the Veeam Entra ID backup and whether it still exists in production. Use for questions like: 'Is user X backed up?', 'Is group Y protected?'\n- 'Entra ID Compare Production' – checks backup existence AND compares item properties between backup and current production state. Use for questions like: 'What changed for user X?', 'Are there differences for group Y?'\n\n## Rules\n- Extract searchType (User / Group / Application) and displayName from the query\n- Default searchType is 'User' if not specified\n- Return concise, structured results"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-240, 0],
      "id": "eia-0001-0000-0000-000000000003",
      "name": "🔍 Entra ID Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [-480, 400],
      "id": "eia-0001-0000-0000-000000000004",
      "name": "Think"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ENTRAID_CHECK_WORKFLOW_PLACEHOLDER",
          "mode": "list",
          "cachedResultUrl": "/workflow/ENTRAID_CHECK_WORKFLOW_PLACEHOLDER",
          "cachedResultName": "Entra ID Check Backup"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "searchType": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('searchType', `User, Group, or Application`, 'string') }}",
            "displayName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('displayName', `Display name of the item to search for`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "searchType", "displayName": "searchType", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false },
            { "id": "displayName", "displayName": "displayName", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [-240, 240],
      "id": "eia-0001-0000-0000-000000000005",
      "name": "Call 'Entra ID Check Backup'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ENTRAID_COMPARE_WORKFLOW_PLACEHOLDER",
          "mode": "list",
          "cachedResultUrl": "/workflow/ENTRAID_COMPARE_WORKFLOW_PLACEHOLDER",
          "cachedResultName": "Entra ID Compare Production"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "searchType": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('searchType', `User, Group, or Application`, 'string') }}",
            "displayName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('displayName', `Display name of the item to search for`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "searchType", "displayName": "searchType", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false },
            { "id": "displayName", "displayName": "displayName", "required": true, "defaultMatch": false, "display": true, "canBeUsedToMatch": false, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [0, 240],
      "id": "eia-0001-0000-0000-000000000006",
      "name": "Call 'Entra ID Compare Production'"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "🔍 Entra ID Agent", "type": "main", "index": 0 }]] },
    "Claude Haiku": { "ai_languageModel": [[{ "node": "🔍 Entra ID Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Think": { "ai_tool": [[{ "node": "🔍 Entra ID Agent", "type": "ai_tool", "index": 0 }]] },
    "Call 'Entra ID Check Backup'": { "ai_tool": [[{ "node": "🔍 Entra ID Agent", "type": "ai_tool", "index": 0 }]] },
    "Call 'Entra ID Compare Production'": { "ai_tool": [[{ "node": "🔍 Entra ID Agent", "type": "ai_tool", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "id": "ENTRAID_AGENT_WORKFLOW_PLACEHOLDER",
  "tags": []
}
