BackupPaw/Security & Compliance Agent.json
{
  "name": "Security & Compliance Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Security & Compliance Agent\nSub-agent called by The Brain for all security and compliance operations.\n\n**Assign your Chat Model to the AI Agent node.**\nAfter importing all sub-workflows, replace the placeholder IDs below.\n\nThis agent handles:\n- Querying malware detection events\n- Querying authorization and audit events\n- Scanning backups for malware\n- Retrieving scan results",
        "height": 220,
        "width": 520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Setup Note"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "id": "aa000002-0000-0000-0000-000000000002",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        0,
        720
      ],
      "id": "aa000003-0000-0000-0000-000000000003",
      "name": "Think"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a Veeam Backup & Replication security and compliance assistant.\n\n## Tools available\n- **VBR Get All Malware Events** — retrieve malware detection events, optionally filtered by VM name. Use `hostName` as filter.\n- **VBR Get All Authorization Events** — retrieve security audit events (permission changes, role assignments, approved/rejected requests).\n- **VBR Scan Backup** — scan a VM's backup for malware using the antivirus engine. Requires `vmName` and optionally `daysBack` (default: 7).\n- **VBR Get Scan Results** — poll a scan session until completed and return per-restore-point results. Requires `sessionId` from a prior VBR Scan Backup call.\n\n## Rules\n1. **Default timeframe** is the last 24 hours when none is specified for event queries.\n2. **Scanning flow** — always call VBR Scan Backup first, then immediately pass the returned `sessionId` to VBR Get Scan Results. Never call VBR Get Scan Results without a prior scan.\n3. **Scan confirmation** — always ask the user for explicit confirmation before starting a scan.\n4. **Scan results** — report each restore point with `name`, `scanResult` and `antivirusName`. If `summary.hasThreats` is `true`, clearly highlight infected restore points and recommend immediate action.\n5. **Possible scan results**: `Clean`, `Infected`, `Failed`, `Canceled`, `Inconclusive`, `None`.\n6. **Multiple VMs** — if the user requests a scan for all VMs affected by malware events, first call VBR Get All Malware Events to get the VM names, then call VBR Scan Backup for each VM individually after confirmation.\n7. Never display internal identifiers (objectId, platformId) in responses."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        304
      ],
      "id": "aa000004-0000-0000-0000-000000000004",
      "name": "Security & Compliance Agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_MALWARE_EVENTS",
          "mode": "list",
          "cachedResultName": "VBR Get All Malware Events"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "hostName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hostName', `Optional VM name filter`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "hostName",
              "displayName": "hostName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        240,
        560
      ],
      "id": "aa000005-0000-0000-0000-000000000005",
      "name": "Call 'VBR Get All Malware Events'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_AUTHORIZATION_EVENTS",
          "mode": "list",
          "cachedResultName": "VBR Get All Authorization Events"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "hostName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hostName', `Not used`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "hostName",
              "displayName": "hostName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        480,
        560
      ],
      "id": "aa000006-0000-0000-0000-000000000006",
      "name": "Call 'VBR Get All Authorization Events'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_SCAN_BACKUP",
          "mode": "list",
          "cachedResultName": "VBR Scan Backup"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "vmName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vmName', `Name of the VM to scan`, 'string') }}",
            "daysBack": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('daysBack', `Number of days back to scan (default 7)`, 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "vmName",
              "displayName": "vmName",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            },
            {
              "id": "daysBack",
              "displayName": "daysBack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        720,
        560
      ],
      "id": "aa000007-0000-0000-0000-000000000007",
      "name": "Call 'VBR Scan Backup'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_SCAN_RESULTS",
          "mode": "list",
          "cachedResultName": "VBR Get Scan Results"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sessionId', `Session ID returned by VBR Scan Backup`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        960,
        560
      ],
      "id": "aa000008-0000-0000-0000-000000000008",
      "name": "Call 'VBR Get Scan Results'"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Security & Compliance Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Security & Compliance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VBR Get All Malware Events'": {
      "ai_tool": [
        [
          {
            "node": "Security & Compliance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VBR Get All Authorization Events'": {
      "ai_tool": [
        [
          {
            "node": "Security & Compliance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VBR Scan Backup'": {
      "ai_tool": [
        [
          {
            "node": "Security & Compliance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VBR Get Scan Results'": {
      "ai_tool": [
        [
          {
            "node": "Security & Compliance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "aa000001-0000-0000-0000-000000000001",
  "meta": {
    "instanceId": "14b2d430486c535ba25a54c9abcb9f7f90d4bb3c79e66b46f73b9ada957337e5"
  },
  "id": "SecurityComplianceAgent",
  "tags": []
}
