BackupPaw/VBR Entra ID Compare Production.json
{
  "name": "VBR Entra ID Compare Production",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "displayName" },
            { "name": "searchType" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-1680, 128],
      "id": "eicp-0001-0000-0000-000000000001",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "CUSTOM.oauthToken",
      "typeVersion": 1,
      "position": [-1440, 128],
      "id": "eicp-0001-0000-0000-000000000002",
      "name": "Get Bearer Token",
      "credentials": {
        "VeeamDataPlatform": {
          "id": "REPLACE_WITH_VBR_CREDENTIAL_ID",
          "name": "Veeam Backup Server 01"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}/api/v1/restorePoints",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "platformNameFilter", "value": "EntraID" },
            { "name": "limit", "value": "1" },
            { "name": "orderColumn", "value": "CreationTime" },
            { "name": "orderAsc", "value": "false" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" },
            { "name": "x-api-version", "value": "={{ $json.apiVersion }}" }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1200, 128],
      "id": "eicp-0001-0000-0000-000000000003",
      "name": "Get Entra ID Restore Points"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get Bearer Token').item.json.url }}/api/v1/restore/entraId/tenant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "={{ $('Get Bearer Token').item.json.apiVersion }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ backupId: $('Get Entra ID Restore Points').item.json.data[0].backupId }) }}",
        "options": { "allowUnauthorizedCerts": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-960, 128],
      "id": "eicp-0001-0000-0000-000000000004",
      "name": "Start Restore Session"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-720, 128],
      "id": "eicp-0001-0000-0000-000000000005",
      "name": "Wait 15s",
      "webhookId": "e1fca70e-9246-43c7-9c59-648c6cce3b6f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get Bearer Token').item.json.url }}/api/v1/backupBrowser/entraIdTenant/{{ $('Get Entra ID Restore Points').item.json.data[0].backupId }}/browse",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "={{ $('Get Bearer Token').item.json.apiVersion }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: $('Execute Workflow Trigger').item.json.searchType, filter: { displayName: $('Execute Workflow Trigger').item.json.displayName } }) }}",
        "options": { "allowUnauthorizedCerts": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-480, 128],
      "id": "eicp-0001-0000-0000-000000000006",
      "name": "Search Item"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "eicp-cond-001",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-240, 128],
      "id": "eicp-0001-0000-0000-000000000007",
      "name": "IF: Item Found?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get Bearer Token').item.json.url }}/api/v1/backupBrowser/entraIdTenant/{{ $('Start Restore Session').item.json.sessionId }}/checkProductionItems",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "={{ $('Get Bearer Token').item.json.apiVersion }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: [{ itemId: $('Search Item').item.json.data[0].id, restorePointId: $('Get Entra ID Restore Points').item.json.data[0].id }] }) }}",
        "options": { "allowUnauthorizedCerts": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "eicp-0001-0000-0000-000000000008",
      "name": "Check Production"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get Bearer Token').item.json.url }}/api/v1/backupBrowser/entraIdTenant/{{ $('Start Restore Session').item.json.sessionId }}/compare",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "={{ $('Get Bearer Token').item.json.apiVersion }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ itemId: $('Search Item').item.json.data[0].id, itemType: $('Execute Workflow Trigger').item.json.searchType, oldRestorePointId: $('Get Entra ID Restore Points').item.json.data[0].id, showUnchangedAttributes: false, reloadCache: true }) }}",
        "options": { "allowUnauthorizedCerts": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0],
      "id": "eicp-0001-0000-0000-000000000009",
      "name": "Compare with Production"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get Bearer Token').item.json.url }}/api/v1/restore/entraId/tenant/{{ $('Start Restore Session').item.json.sessionId }}/stop",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "={{ $('Get Bearer Token').item.json.apiVersion }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ backupId: $('Get Entra ID Restore Points').item.json.data[0].backupId }) }}",
        "options": { "allowUnauthorizedCerts": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 0],
      "id": "eicp-0001-0000-0000-000000000010",
      "name": "Stop Session"
    },
    {
      "parameters": {
        "jsCode": "const trigger    = $('Execute Workflow Trigger').item.json;\nconst rp         = $('Get Entra ID Restore Points').item.json;\nconst checkProd  = $('Check Production').item.json;\nconst compareRes = $('Compare with Production').item.json;\n\nreturn [{ json: {\n  searchType:         trigger.searchType,\n  displayName:        trigger.displayName,\n  foundInBackup:      true,\n  latestRestorePoint: rp.data[0]?.creationTime ?? null,\n  existsInProduction: (checkProd.items?.length ?? 0) > 0,\n  differences:        compareRes.properties ?? []\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 0],
      "id": "eicp-0001-0000-0000-000000000011",
      "name": "Format Found Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get Bearer Token').item.json.url }}/api/v1/restore/entraId/tenant/{{ $('Start Restore Session').item.json.sessionId }}/stop",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "={{ $('Get Bearer Token').item.json.apiVersion }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ backupId: $('Get Entra ID Restore Points').item.json.data[0].backupId }) }}",
        "options": { "allowUnauthorizedCerts": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 280],
      "id": "eicp-0001-0000-0000-000000000012",
      "name": "Stop Session (Not Found)"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "eicp-set-001", "name": "foundInBackup", "value": false, "type": "boolean" },
            { "id": "eicp-set-002", "name": "searchType", "value": "={{ $('Execute Workflow Trigger').item.json.searchType }}", "type": "string" },
            { "id": "eicp-set-003", "name": "displayName", "value": "={{ $('Execute Workflow Trigger').item.json.displayName }}", "type": "string" },
            { "id": "eicp-set-004", "name": "message", "value": "={{ $('Execute Workflow Trigger').item.json.searchType }} '{{ $('Execute Workflow Trigger').item.json.displayName }}' was not found in the Entra ID backup.", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 280],
      "id": "eicp-0001-0000-0000-000000000013",
      "name": "Not Found Output"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Get Bearer Token", "type": "main", "index": 0 }]] },
    "Get Bearer Token": { "main": [[{ "node": "Get Entra ID Restore Points", "type": "main", "index": 0 }]] },
    "Get Entra ID Restore Points": { "main": [[{ "node": "Start Restore Session", "type": "main", "index": 0 }]] },
    "Start Restore Session": { "main": [[{ "node": "Wait 15s", "type": "main", "index": 0 }]] },
    "Wait 15s": { "main": [[{ "node": "Search Item", "type": "main", "index": 0 }]] },
    "Search Item": { "main": [[{ "node": "IF: Item Found?", "type": "main", "index": 0 }]] },
    "IF: Item Found?": {
      "main": [
        [{ "node": "Check Production", "type": "main", "index": 0 }],
        [{ "node": "Stop Session (Not Found)", "type": "main", "index": 0 }]
      ]
    },
    "Check Production": { "main": [[{ "node": "Compare with Production", "type": "main", "index": 0 }]] },
    "Compare with Production": { "main": [[{ "node": "Stop Session", "type": "main", "index": 0 }]] },
    "Stop Session": { "main": [[{ "node": "Format Found Output", "type": "main", "index": 0 }]] },
    "Stop Session (Not Found)": { "main": [[{ "node": "Not Found Output", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": { "templateCredsSetupCompleted": false },
  "id": "ENTRAID_COMPARE_WORKFLOW_PLACEHOLDER",
  "tags": []
}
