BackupPaw/VBR Create Backup Job.json
{
  "name": "VBR Create Backup Job",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "jobName"
            },
            {
              "name": "jobDescription"
            },
            {
              "name": "vmName"
            },
            {
              "name": "objectId"
            },
            {
              "name": "hostName"
            },
            {
              "name": "repositoryId"
            },
            {
              "name": "retentionPoints"
            },
            {
              "name": "scheduleTime"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "bd5caeb7-63ec-49d1-8460-4a4a4610fc12",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "CUSTOM.oauthToken",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "cb2dbb2d-ca53-43a2-94fa-931ae49647dc",
      "name": "Get Bearer Token",
      "credentials": {
        "VeeamDataPlatform": {
          "id": "iZ15X6hk8eWfclcn",
          "name": "Veeam Backup Server 01"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const t = $('Execute Workflow Trigger').item.json;\n\nconst body = {\n  type: 'VSphereBackup',\n  name: t.jobName,\n  description: t.jobDescription || 'Created by BackupPaw',\n  virtualMachines: {\n    includes: [{\n      platform: 'VSphere',\n      type: 'VirtualMachine',\n      name: t.vmName,\n      objectId: t.objectId,\n      hostName: t.hostName\n    }],\n    excludes: {\n      vms: [],\n      disks: [],\n      templates: { isEnabled: false, excludeFromIncremental: false }\n    }\n  },\n  storage: {\n    backupRepositoryId: t.repositoryId,\n    backupProxies: { autoSelectEnabled: true, proxyIds: [] },\n    retentionPolicy: {\n      type: 'RestorePoints',\n      quantity: parseInt(t.retentionPoints) || 7\n    }\n  },\n  schedule: {\n    daily: {\n      dailyKind: 'Everyday',\n      isEnabled: true,\n      localTime: t.scheduleTime || '22:00',\n      days: ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']\n    },\n    monthly: { isEnabled: false, dayOfWeek: 'saturday', dayNumberInMonth: 'Fourth', localTime: '22:00', dayOfMonth: 1,\n      months: ['January','February','March','April','May','June','July','August','September','October','November','December'] },\n    periodically: { periodicallyKind: 'Hours', isEnabled: false, frequency: 0 },\n    retry: { isEnabled: true, retryCount: 3, awaitMinutes: 10 },\n    backupWindow: { isEnabled: false },\n    runAutomatically: true\n  }\n};\n\nreturn [{ json: { body: JSON.stringify(body) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "ddbf917a-7f68-4aad-a6c0-0d8b2673d43f",
      "name": "Build Job Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get Bearer Token').item.json.url }}/api/v1/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}"
            },
            {
              "name": "x-api-version",
              "value": "={{ $('Get Bearer Token').item.json.apiVersion }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ],
      "id": "2c9ec4b9-f23b-4363-af87-a200481cc51e",
      "name": "Create Backup Job"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vjcj-set-001",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "vjcj-set-002",
              "name": "jobId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "vjcj-set-003",
              "name": "jobName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "vjcj-set-004",
              "name": "message",
              "value": "=Backup job '{{ $json.name }}' created successfully for VM '{{ $('Execute Workflow Trigger').item.json.vmName }}'.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        0
      ],
      "id": "5019cf13-60eb-4081-8336-76e554d39555",
      "name": "Format Output"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Bearer Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bearer Token": {
      "main": [
        [
          {
            "node": "Build Job Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Job Body": {
      "main": [
        [
          {
            "node": "Create Backup Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Backup Job": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b37d40bb-ddcb-4bea-a93c-7d9eea3b39e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14b2d430486c535ba25a54c9abcb9f7f90d4bb3c79e66b46f73b9ada957337e5"
  },
  "id": "zK6934DQ6YhClHkU",
  "tags": []
}