BackupPaw/VBR Add VM to Job.json
{
  "name": "VBR Add VM to Job",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "jobId"
            },
            {
              "name": "vmName"
            },
            {
              "name": "objectId"
            },
            {
              "name": "hostName"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1200,
        128
      ],
      "id": "db065262-e8c7-4e17-9c82-6ad1eaed44e9",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "CUSTOM.oauthToken",
      "typeVersion": 1,
      "position": [
        -960,
        128
      ],
      "id": "28e10d91-00f9-40cd-a1f5-07c51339b8dc",
      "name": "Get Bearer Token",
      "credentials": {
        "VeeamDataPlatform": {
          "id": "iZ15X6hk8eWfclcn",
          "name": "Veeam Backup Server 01"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get Bearer Token').item.json.url }}/api/v1/jobs/{{ $('Execute Workflow Trigger').item.json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}"
            },
            {
              "name": "x-api-version",
              "value": "={{ $('Get Bearer Token').item.json.apiVersion }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        128
      ],
      "id": "b4d43ffe-bf1d-4d1a-b2c0-c54c0e54961e",
      "name": "Get Job"
    },
    {
      "parameters": {
        "jsCode": "const trigger  = $('Execute Workflow Trigger').item.json;\nconst job      = $input.first().json;\nconst includes = job.virtualMachines?.includes ?? [];\n\n// Check if any include is not an individual VM (Tag, ResourcePool, Folder, Cluster, Datacenter, etc.)\nconst nonVmTypes = includes.filter(i => i.type !== 'VirtualMachine');\nif (nonVmTypes.length > 0) {\n  const types = [...new Set(nonVmTypes.map(i => i.type))].join(', ');\n  return [{ json: {\n    tagBased: true,\n    message: `Job '${job.name}' uses container-based selection (${types}). Adding individual VMs is not supported. Consider creating a new job for this VM, or add it to a job that uses individual VM selection.`\n  }}];\n}\n\n// Ensure all existing includes have platform set\nconst sanitizedIncludes = includes.map(i => ({\n  ...i,\n  platform: i.platform || 'VSphere'\n}));\n\n// Build updated includes with new VM appended\nconst newIncludes = [\n  ...sanitizedIncludes,\n  {\n    platform: 'VSphere',\n    type: 'VirtualMachine',\n    name: trigger.vmName,\n    objectId: trigger.objectId,\n    hostName: trigger.hostName\n  }\n];\n\n// Return full job model with updated includes\nconst updatedJob = JSON.parse(JSON.stringify(job));\nupdatedJob.virtualMachines.includes = newIncludes;\n\nreturn [{ json: { tagBased: false, updatedJob } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        128
      ],
      "id": "2b0ddac9-3a21-4d82-b75e-b59dd6fb1862",
      "name": "Check and Build Updated Job"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "vavj-cond-001",
              "leftValue": "={{ $json.tagBased }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        128
      ],
      "id": "250c8a4f-7c94-4a03-a262-bf19d66886b6",
      "name": "IF: Tag/Container Based?"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Get Bearer Token').item.json.url }}/api/v1/jobs/{{ $('Execute Workflow Trigger').item.json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}"
            },
            {
              "name": "x-api-version",
              "value": "={{ $('Get Bearer Token').item.json.apiVersion }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Check and Build Updated Job').item.json.updatedJob) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "f16b8b22-a91b-43ee-9b45-fe4c9f1f59e7",
      "name": "Update Job"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vavj-set-001",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "vavj-set-002",
              "name": "jobId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "vavj-set-003",
              "name": "jobName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "vavj-set-004",
              "name": "message",
              "value": "=VM '{{ $('Execute Workflow Trigger').item.json.vmName }}' successfully added to backup job '{{ $json.name }}'.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "b41ac469-173d-4641-8a75-1739e8531e07",
      "name": "Success Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vavj-set-005",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "vavj-set-006",
              "name": "message",
              "value": "={{ $('Check and Build Updated Job').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        288
      ],
      "id": "a6837efe-c1ce-4655-a333-9ffbbebdcd02",
      "name": "Container Based Output"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Bearer Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bearer Token": {
      "main": [
        [
          {
            "node": "Get Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job": {
      "main": [
        [
          {
            "node": "Check and Build Updated Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check and Build Updated Job": {
      "main": [
        [
          {
            "node": "IF: Tag/Container Based?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Tag/Container Based?": {
      "main": [
        [
          {
            "node": "Container Based Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job": {
      "main": [
        [
          {
            "node": "Success Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "882f9edc-77ab-40c8-932b-6ec0cc33d90d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14b2d430486c535ba25a54c9abcb9f7f90d4bb3c79e66b46f73b9ada957337e5"
  },
  "id": "qdAixpEG6zz3e6Qi",
  "tags": []
}