BackupPaw/VBR Get All Authorization Events.json
{
  "name": "VBR Get All Authorization Events",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        -112
      ],
      "id": "ad446731-4976-46d0-bc02-f016fb6c1a97",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "CUSTOM.oauthToken",
      "typeVersion": 1,
      "position": [
        64,
        -112
      ],
      "id": "4439c6b4-1c29-451c-8c95-4f6e66753015",
      "name": "Get Bearer Token",
      "credentials": {
        "VeeamDataPlatform": {
          "id": "iZ15X6hk8eWfclcn",
          "name": "Veeam Backup Server 01"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "hostName"
            }
          ]
        }
      },
      "id": "fbcdaf61-6f0d-4238-8bbb-647000e7cbbb",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -160,
        -112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}/api/v1/authorization/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "orderColumn",
              "value": "CreationTime"
            },
            {
              "name": "orderAsc",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-version",
              "value": "={{ $json.apiVersion }}"
            },
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -112
      ],
      "id": "af0e0f5b-86fb-430b-8ab0-5aba5bc7cb93",
      "name": "Get All Authorization Events"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Bearer Token": {
      "main": [
        [
          {
            "node": "Get All Authorization Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get Bearer Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Authorization Events": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a72a821a-a30e-49a5-9adc-e962c7367e3c",
  "meta": {
    "instanceId": "14b2d430486c535ba25a54c9abcb9f7f90d4bb3c79e66b46f73b9ada957337e5"
  },
  "id": "0VKfnzrUwrYiC1lm",
  "tags": []
}