BackupPaw/VBR Get Restore Points.json
{
  "name": "VBR Get Restore Points",
  "nodes": [
    {
      "parameters": {
        "content": "## Setup\n1. Ersetze **YOUR-VBR-SERVER** in den beiden HTTP-Nodes durch deinen VBR FQDN\n2. Erstelle ein n8n Credential vom Typ **HTTP Basic Auth** mit VBR-Benutzername & Passwort\n3. Wähle dieses Credential im Node **VBR Authenticate** aus\n\nEingabe: **hostName** = VM-Name (wird als nameFilter genutzt)",
        "height": 180,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-480, -240],
      "id": "e5f6a7b8-c9d0-4123-e4f5-a6b7c8d9e0f1",
      "name": "Setup Note"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-480, 0],
      "id": "f6a7b8c9-d0e1-4234-f5a6-b7c8d9e0f1a2",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-VBR-SERVER/api/v1/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-version",
              "value": "1.3-rev1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 0],
      "id": "a7b8c9d0-e1f2-4345-a6b7-c8d9e0f1a2b3",
      "name": "VBR Authenticate",
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "VBR Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://YOUR-VBR-SERVER/api/v1/restorePoints?limit=50{{ $('Execute Workflow Trigger').item.json.hostName ? '&nameFilter=' + $('Execute Workflow Trigger').item.json.hostName : '' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "x-api-version",
              "value": "1.3-rev1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "b8c9d0e1-f2a3-4456-b7c8-d9e0f1a2b3c4",
      "name": "Get Restore Points"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "VBR Authenticate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VBR Authenticate": {
      "main": [
        [
          {
            "node": "Get Restore Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "RESTOREPOINTS_WORKFLOW_PLACEHOLDER",
  "tags": []
}
