BackupPaw/VBR Get Restore Points.json
{
  "name": "VBR Get Restore Points",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "hostName"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        224
      ],
      "id": "4496f023-77ee-44f7-839b-e3b76d535eb8",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}/api/v1/restorePoints?limit=50&nameFilter={{ $('Execute Workflow Trigger').item.json.hostName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "x-api-version",
              "value": "={{ $json.apiVersion }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        224
      ],
      "id": "c83e74e5-0c1e-4b3c-b35a-17a52e00883c",
      "name": "Get Restore Points"
    },
    {
      "parameters": {},
      "type": "CUSTOM.oauthToken",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "7609153b-bf80-4f7e-b3cb-778fa52464be",
      "name": "Get Bearer Token",
      "credentials": {
        "VeeamDataPlatform": {
          "id": "iZ15X6hk8eWfclcn",
          "name": "Veeam Backup Server 01"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Bearer Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bearer Token": {
      "main": [
        [
          {
            "node": "Get Restore Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "13da4883-6c44-4825-bbb6-fb2e7108ad31",
  "meta": {
    "instanceId": "14b2d430486c535ba25a54c9abcb9f7f90d4bb3c79e66b46f73b9ada957337e5"
  },
  "id": "WeNvKjxBzYHZbLGd",
  "tags": []
}