BackupPaw/VBR Get All Malware Events.json
{
  "name": "VBR Get All Malware Events",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        -112
      ],
      "id": "e9d4b2e0-252c-4449-bd37-cffb8e1b4856",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "CUSTOM.oauthToken",
      "typeVersion": 1,
      "position": [
        64,
        -112
      ],
      "id": "190b94c0-59a5-45a5-b08a-93c834395358",
      "name": "Get Bearer Token",
      "credentials": {
        "VeeamDataPlatform": {
          "id": "iZ15X6hk8eWfclcn",
          "name": "Veeam Backup Server 01"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "hostName"
            }
          ]
        }
      },
      "id": "c9d56409-e6ea-402d-8837-91a6b9ab459b",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -160,
        -112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}/api/v1/malwareDetection/events?limit=10&orderColumn=DetectionTimeUtc&orderAsc=false&machineNameFilter={{ $('Start').item.json.hostName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-version",
              "value": "={{ $json.apiVersion }}"
            },
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -112
      ],
      "id": "d8d8bee0-9f31-43b4-85ef-f6fd36569381",
      "name": "Get All Malware Events"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Bearer Token": {
      "main": [
        [
          {
            "node": "Get All Malware Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get Bearer Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Malware Events": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c9ef2aea-881b-4d11-9991-f52a5a8422f2",
  "meta": {
    "instanceId": "14b2d430486c535ba25a54c9abcb9f7f90d4bb3c79e66b46f73b9ada957337e5"
  },
  "id": "FepidoQUeBDnsEWk",
  "tags": []
}