BackupPaw/VBR Create Backup Job.json
{
  "name": "VBR Create Backup Job",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "jobName" },
            { "name": "jobDescription" },
            { "name": "vmName" },
            { "name": "objectId" },
            { "name": "hostName" },
            { "name": "repositoryId" },
            { "name": "retentionPoints" },
            { "name": "scheduleTime" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-1440, 128],
      "id": "vjcj-0001-0000-0000-000000000001",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "CUSTOM.oauthToken",
      "typeVersion": 1,
      "position": [-1200, 128],
      "id": "vjcj-0001-0000-0000-000000000002",
      "name": "Get Bearer Token",
      "credentials": {
        "VeeamDataPlatform": {
          "id": "REPLACE_WITH_VBR_CREDENTIAL_ID",
          "name": "Veeam Backup Server 01"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const t = $('Execute Workflow Trigger').item.json;\n\nconst body = {\n  type: 'VSphereBackup',\n  name: t.jobName,\n  description: t.jobDescription || 'Created by BackupPaw',\n  virtualMachines: {\n    includes: [{\n      platform: 'VSphere',\n      type: 'VirtualMachine',\n      name: t.vmName,\n      objectId: t.objectId,\n      hostName: t.hostName\n    }],\n    excludes: {\n      vms: [],\n      disks: [],\n      templates: { isEnabled: false, excludeFromIncremental: false }\n    }\n  },\n  storage: {\n    backupRepositoryId: t.repositoryId,\n    backupProxies: { autoSelectEnabled: true, proxyIds: [] },\n    retentionPolicy: {\n      type: 'RestorePoints',\n      quantity: parseInt(t.retentionPoints) || 7\n    }\n  },\n  schedule: {\n    daily: {\n      dailyKind: 'Everyday',\n      isEnabled: true,\n      localTime: t.scheduleTime || '22:00',\n      days: ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']\n    },\n    monthly: { isEnabled: false, dayOfWeek: 'saturday', dayNumberInMonth: 'Fourth', localTime: '22:00', dayOfMonth: 1,\n      months: ['January','February','March','April','May','June','July','August','September','October','November','December'] },\n    periodically: { periodicallyKind: 'Hours', isEnabled: false, frequency: 0 },\n    retry: { isEnabled: true, retryCount: 3, awaitMinutes: 10 },\n    backupWindow: { isEnabled: false },\n    runAutomatically: true\n  }\n};\n\nreturn [{ json: { body: JSON.stringify(body) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 128],
      "id": "vjcj-0001-0000-0000-000000000005",
      "name": "Build Job Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get Bearer Token').item.json.url }}/api/v1/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get Bearer Token').item.json.access_token }}" },
            { "name": "x-api-version", "value": "={{ $('Get Bearer Token').item.json.apiVersion }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": { "allowUnauthorizedCerts": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-720, 128],
      "id": "vjcj-0001-0000-0000-000000000003",
      "name": "Create Backup Job"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "vjcj-set-001", "name": "success", "value": true, "type": "boolean" },
            { "id": "vjcj-set-002", "name": "jobId", "value": "={{ $json.id }}", "type": "string" },
            { "id": "vjcj-set-003", "name": "jobName", "value": "={{ $json.name }}", "type": "string" },
            { "id": "vjcj-set-004", "name": "message", "value": "=Backup job '{{ $json.name }}' created successfully for VM '{{ $('Execute Workflow Trigger').item.json.vmName }}'.", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-480, 128],
      "id": "vjcj-0001-0000-0000-000000000004",
      "name": "Format Output"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Get Bearer Token", "type": "main", "index": 0 }]] },
    "Get Bearer Token": { "main": [[{ "node": "Build Job Body", "type": "main", "index": 0 }]] },
    "Build Job Body": { "main": [[{ "node": "Create Backup Job", "type": "main", "index": 0 }]] },
    "Create Backup Job": { "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "availableInMCP": false },
  "meta": { "templateCredsSetupCompleted": false },
  "id": "VBR_CREATE_JOB_WORKFLOW_PLACEHOLDER",
  "tags": []
}
