BackupPaw/VBR Start Job.json
{
  "name": "VBR Start Job",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "result",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        -112
      ],
      "id": "cf3ee8fc-6cb2-403e-b820-b0c06ffd167b",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "CUSTOM.oauthToken",
      "typeVersion": 1,
      "position": [
        64,
        -112
      ],
      "id": "50b9908b-8caf-4bb9-a821-c31d19481146",
      "name": "Get Bearer Token",
      "credentials": {
        "VeeamDataPlatform": {
          "id": "iZ15X6hk8eWfclcn",
          "name": "Veeam Backup Server 01"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "jobId"
            }
          ]
        }
      },
      "id": "ae76828e-4ec7-4250-b0c0-a980121611bb",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -160,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}/api/v1/jobs/{{ $('Start').item.json.jobId }}/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-version",
              "value": "={{ $json.apiVersion }}"
            },
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -112
      ],
      "id": "65eaba0f-55af-4124-a007-290a584f064b",
      "name": "Start Job"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Bearer Token": {
      "main": [
        [
          {
            "node": "Start Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get Bearer Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Job": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d9410dcb-bd54-48b1-bca5-05a32b324c15",
  "meta": {
    "instanceId": "14b2d430486c535ba25a54c9abcb9f7f90d4bb3c79e66b46f73b9ada957337e5"
  },
  "id": "V3SBdkG3L2wsRnpb",
  "tags": []
}