BackupPaw/VBR Get All Sessions.json
{
  "name": "VBR Get All Sessions",
  "nodes": [
    {
      "parameters": {
        "content": "## Setup\n1. Ersetze **YOUR-VBR-SERVER** in den beiden HTTP-Nodes durch deinen VBR FQDN\n2. Erstelle ein n8n Credential vom Typ **HTTP Basic Auth** mit VBR-Benutzername & Passwort\n3. Wähle dieses Credential im Node **VBR Authenticate** aus",
        "height": 160,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-480, -220],
      "id": "f4c2e801-3a57-4b8d-9e6f-1234567890ab",
      "name": "Setup Note"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-480, 0],
      "id": "a2b3c4d5-e6f7-4890-b1c2-d3e4f5a6b7c8",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-VBR-SERVER/api/v1/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-version",
              "value": "1.3-rev1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 0],
      "id": "c3d4e5f6-a7b8-4901-c2d3-e4f5a6b7c8d9",
      "name": "VBR Authenticate",
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "VBR Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://YOUR-VBR-SERVER/api/v1/sessions?limit=100{{ $('Execute Workflow Trigger').item.json.hostName ? '&jobNameFilter=' + $('Execute Workflow Trigger').item.json.hostName : '' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "x-api-version",
              "value": "1.3-rev1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d9e0",
      "name": "Get Sessions"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "VBR Authenticate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VBR Authenticate": {
      "main": [
        [
          {
            "node": "Get Sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "SESSIONS_WORKFLOW_PLACEHOLDER",
  "tags": []
}
