BackupPaw/VBR Get All Tasks.json
{
  "name": "VBR Get All Tasks",
  "nodes": [
    {
      "parameters": {
        "content": "## Setup\n1. Ersetze **YOUR-VBR-SERVER** in den beiden HTTP-Nodes durch deinen VBR FQDN\n2. Erstelle ein n8n Credential vom Typ **HTTP Basic Auth** mit VBR-Benutzername & Passwort\n3. Wähle dieses Credential im Node **VBR Authenticate** aus\n\nKein Input-Parameter erforderlich.",
        "height": 180,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-480, -240],
      "id": "c9d0e1f2-a3b4-4567-c8d9-e0f1a2b3c4d5",
      "name": "Setup Note"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-480, 0],
      "id": "d0e1f2a3-b4c5-4678-d9e0-f1a2b3c4d5e6",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-VBR-SERVER/api/v1/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-version",
              "value": "1.3-rev1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 0],
      "id": "e1f2a3b4-c5d6-4789-e0f1-a2b3c4d5e6f7",
      "name": "VBR Authenticate",
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "VBR Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "https://YOUR-VBR-SERVER/api/v1/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "x-api-version",
              "value": "1.3-rev1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "f2a3b4c5-d6e7-4890-f1a2-b3c4d5e6f7a8",
      "name": "Get Tasks"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "VBR Authenticate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VBR Authenticate": {
      "main": [
        [
          {
            "node": "Get Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "TASKS_WORKFLOW_PLACEHOLDER",
  "tags": []
}
